@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 15s linear infinite;
}

:root {
  --background: #070b13;
  --foreground: #f8fafc;
}

body {
  background-color: #070b13;
  color: #f8fafc;
  overflow-x: hidden;
}

/* Custom Scrollbar for sleek dashboard feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #070b13;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #312e81;
}

/* Confetti wrapper fixes */
canvas {
  pointer-events: none;
}
